<div
    class="w-screen h-screen flex flex-col md:px-48 md:py-12 relative overflow-hidden"
>
    <div class="flex flex-col h-full">
        <app-navbar class="shrink-0"></app-navbar>
        <div
            class="flex-grow flex flex-col items-center space-y-6 overflow-y-auto [scrollbar-width:none] [-ms-overflow-style:none]"
        >
            <div
                class="w-full flex items-center mt-12 space-x-4 justify-between px-28"
            >
                <h2 class="text-2xl font-bold text-gray-800">
                    Deine Immobilien
                </h2>
                <button
                    class="bg-btn_primary hover:bg-btn_primary_darkened text-white font-semibold px-4 rounded-lg transition duration-200 h-8 flex items-center"
                >
                    New
                </button>
            </div>

            <style>
                .scrollbar-hidden::-webkit-scrollbar {
                    display: none;
                }
                .scrollbar-hidden {
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none; /* IE and Edge */
                }
            </style>
            <app-realestate-list
                *ngIf="userListings$ | async as userListings"
                [listings]="userListings"
            ></app-realestate-list>
        </div>
        <app-footer
            class="shrink-0 fixed bottom-0 left-0 w-full z-10"
        ></app-footer>
    </div>
</div>
