<div *ngIf="isFiltersOpen" class="filter-bar px-4 py-4 grid gap-4 items-center">
  <div class="px-4 py-4 flex gap-2 items-center filter-bar">
    <!-- Condition-->
    <select class="w-full border rounded-lg px-4 py-2" #retailConditionSelect>
      <option value="">Condition</option>
      <option
        *ngFor="let condition of retailConditions"
        [value]="condition.condition_name"
      >
        {{ condition.condition_name }}
      </option>
    </select>
    <!--Delivery Method-->
    <select class="w-full border rounded-lg px-4 py-2" #retailDeliveryMethodSelect>
      <option value="">Delivery Method</option>
      <option
        *ngFor="let delivery_method of retailDeliveryMethods"
        [value]="delivery_method.delivery_method_name"
      >
        {{ delivery_method.delivery_method_name }}
      </option>
    </select>
  </div>
  <!-- Price Range Filter -->
  <div class="grid grid-cols-2 items-center">
    <div class="flex gap-2 items-center filter-bar">
      <label>Price</label>
      <input
        type="number"
        placeholder="Min price"
        class="border px-2 py-1 rounded"
        #minPrice
      />
      <input
        type="number"
        placeholder="Max price"
        class="border px-2 py-1 rounded"
        #maxPrice
      />
    </div>
  </div>
  <button
    class="bg-btn_primary hover:bg-btn_primary_darkened text-white px-4 py-2 rounded-lg"
    (click)="applyFilter()"
  >
    Apply Filters
  </button>
</div>

<div
  *ngIf="filteredListings && filteredListings.length > 0; else noListings"
  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-8 px-4 pb-8"
>
  <a
    *ngFor="let listing of filteredListings"
    [routerLink]="['/retail-details', listing.product_id]"
    class="block rounded-2xl no-underline hover:shadow-lg transition duration-200"
  >
    <app-list-item
      [listing]="listing"
      [onDeleteCallback]="onDeleteCallback"
    ></app-list-item>
  </a>
</div>

<ng-template #noResults>
  <p class="text-gray-600">No listings match the current filter.</p>
</ng-template>

<ng-template #noListings>
  <p class="text-gray-600">Loading listings...</p>
</ng-template>
